<link href="~/Content/homeindex.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Album App</h1>
    <p class="lead"></p>
    
</div>
<div class="row bg">
    
        <div class="col-md-1"></div>
           
            <div class="col-md-2">
                <div class="jumbotron one">
                    <h2>Getting started</h2>
                    <p>

                    </p>
                    <p><a class="btn btn-default" href="@Url.Action("Index" ,"Artists")">Artists &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4"></div>
                <div class="col-md-2">
                <div class="jumbotron one">

                    <h2>Get more libraries</h2>
                    <p></p>
                    <p><a class="btn btn-default" href="@Url.Action("Index","Albums")">Albums &raquo;</a></p>
                </div>
            </div>
        </div>
    
